body {
    height: 100%;
    width:100%;
}

ul a:hover {
    text-decoration: none;
}

i {
    color: white;
}

.icon .fa {
    padding-right: 15px;
}

.text-center {
    text-align: left;
    padding-left: 0;
    float: none;
}

i:hover {
    color: black;
    opacity: .8;
}

.maintitle {
    color: #1a2f40;
    font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
    font-size: 15px;
    line-height: 16px;
    right: 50px;
    padding-top: 120px;
}

.screenshot img:hover {
    border: lightgrey solid 6px;
}

.summary {
    padding-top: 0;
}

footer p {
    margin-top: 100px;
    margin-bottom: 20px;
    left: 80px;
    position: absolute;
}

@media only screen and (min-width:768px) and (max-width:1500px) {
    #entire_container {
        background: transparent url(../image/after.png) fixed no-repeat 60px 33vh;
    }
    #header {
        background: steelblue url(../image/before.png) fixed no-repeat 60px 33vh;
        overflow: hidden;
        padding: 0 0 30px 30px;
        height: 100vh;
        width:100%;
    }
    a#logo {
        display: block;
        width: 138px;
        height: 138px;
        float: left;
    }
    li {
        display: inline-block;
        width: 80px;
    }
    ul {
        font-family: "Abel", "Helvetica Neue", san-serif;
        font-size: 16px;
        list-style-type: none;
        padding: 40px 0;
        position: fixed;
        left: 40px;
    }
    ul a {
        text-decoration: underline;
        color: #1a2f40;
    }
    #intro {
        font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
        margin-left: 420px;
        margin-top: 27vh;
        margin-right: 50px;
        color: white;
    }
    .content {
        margin-left: 480px;
        margin-right: 50px;
        font-family: "Abel", "Helvetica Neue", Helvetica, Arial, "MS Trebuchet", sans-serif;
    }
    #intro h1 {
        font-size: 2.5vw;
        opacity: .8;
    }
    #intro h5 {
        font-family: "Abel", "Helvetica Neue", sans-serif;
        padding-top: 20px;
    }
    #intro span {
        color: black;
        opacity: .8;
    }
    .links {
        text-decoration: none;
        color: black;
        opacity: .8;
    }
    .link2 {
        text-decoration: none;
        color: white;
        opacity: .8;
    }

    .project {
    margin-top: 6vw;
    border-right: steelblue 5px solid;
}
    .summary h3 {
        font-size: 1.5vw;
        color: darkgrey;
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, "MS Trebuchet", sans-serif;
    }
    .summary h4 {
        font-size: 1.2vw;
        font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
    }
    .summary h5 {
        font-size: .8vw;
        color: darkgrey;
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, "MS Trebuchet", sans-serif;
    }
}

@media only screen and (max-width:768px) {
    #entire_container {
        /*background: transparent url(../image/after.png) fixed no-repeat 30px 30px;*/
        background: transparent;
    }
    #header {
        /*background: steelblue url(../image/before.png) fixed no-repeat 30px 30px;*/
        background: steelblue;
        overflow-x: hidden;
       /* padding: 0 0 30px 0;*/
        height: 600px;
        width:100%;
    }

    a#logo {
        display: block;
        width: 138px;
        height: 138px;
        float: left;
    }
    #intro {
        font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
        margin-top: 12vh;
        padding-left:40px;
        padding-right: 40px;
        color: white;
    }
    li {
        display: inline-block;
        width: 55px;
    }
    ul {
        font-family: "Abel", "Helvetica Neue", san-serif;
        font-size: 16px;
        list-style-type: none;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        text-align: center;
        position: fixed;
        background-color: steelblue;
        z-index: 99;
        width: 100%;
        margin: 0 auto ;
    }
    ul a {
        text-decoration: none;
        color: white;
        opacity: .8;
    }
    #intro h1 {
        font-size: 5vw;
        opacity: .8;
    }
    #intro h5 {
        font-family: "Abel", "Helvetica Neue", sans-serif;
        padding-top: 20px;
    }
    #intro span {
        color: black;
        opacity: .8;
    }
    .links {
        text-decoration: none;
        color: black;
        opacity: .8;
    }
    .link2 {
        text-decoration: none;
        color: white;
        opacity: .8;
    }

    .project {
    margin-top: 6vw;
    border-left: steelblue 5px solid;
}

    .content {
        z-index: 0;
        margin-left: 50px;
        margin-right: 50px;
        font-family: "Abel", "Helvetica Neue", Helvetica, Arial, "MS Trebuchet", sans-serif;
    }
    .summary h3 {
        font-size: 4vw;
        color: darkgrey;
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, "MS Trebuchet", sans-serif;
    }
    .summary h4 {
        font-size: 4vw;
        font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
    }
    .summary h5 {
        font-size: 3vw;
        color: darkgrey;
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, "MS Trebuchet", sans-serif;
    }
}