    html,
    body,
   /* div,*/
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    em,
    font,
    strong,
    ul,
    li,
    td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline
    }
    
    .pic-frame h2{
        font-size: 15px;
        color:#888787;
        line-height: 18px;
    }

    .pic-frame h3{
        font-size: 14px;
        color:black;
        line-height: 18px;
    }

    .pic-frame h4{
        color:#888787;
    }
    
    .links{
        text-decoration: none;
        color:grey;
    }


    .intro{
        /*float:left;*/
        color:white;
        /*font-size: 30px;*/
        position:absolute;
        margin-top: 50px;
        margin-left: 320px;
        margin-right: 50px;
        /*width:800px;*/
    }

    .intro h1{
        font-size: 40px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        /*font-family: 'Press Start 2P', cursive;*/
    }

    .intro h3{
        font-size: 16px;
        margin-top: 10px;
        font-family: "Montserrat", sans-serif;
        /*font-family: 'Press Start 2P', cursive;*/
    }

   /* i:hover{
      color:rgba(29, 168, 183,1) !important;
     }*/

     #panel{
        display:none;
        background-color: #e5eecc;
        position:relative;
        width:240px;
        height:125px;

     }

    i{
        color:white;
        margin-top: 30px;
    }

    
    .clear {
        clear: both
    }
    
    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden
    }
    
    .clearfix {
        display: inline-block
    }
    
    .alignleft {
        float: left
    }
    
    .alignright {
        float: right
    }
    
    .aligncenter {
        margin: auto;
        display: block
    }
    
    .centered {
        text-align: center
    }
    
    html {
        overflow: -moz-scrollbars- vertical;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    body {
        font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
    
    p {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        margin: 0 0 20px 0
    }

    
    header {
        width: 100%;
        position: relative;
        height: 350px;
        border-bottom: 1px solid #d0ceca;
        background: url(bk.png);
        /*background-color: black;*/
    }
    
    .container {
        width: 100%;
        position: relative;
       /* margin: 0 auto;*/

    }
    
    .overflow {
        overflow: hidden
    }
    
    .toggle,
    .fixed {
        height: 120px;
        width: 100%;
        border-bottom: 1px solid #d0ceca;
        font-size: 48px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 115px;
        cursor: pointer;
    }

   /* #hidden4{
        background: url(purplebk.png) repeat;
    }*/

    #hidden1{
        background-color: #91219E ;
    }

    #hidden2{
        background-color: #8121CF;
    }

    #hidden3{
        background-color: #500f9b ;
    }

    #hidden4{
        background-color: #2E0854;
    }
    
  /*  #hidden5{
        background-color: #8d186A;
    }*/

    .number {
        font-size: 72px;
        font-weight: 300;
        padding-right: 21px;
        float: right;
        color: black;
        opacity:0.6;
    }
    
    .number i {
        font-size: 50px;
        line-height: 0;
        position: relative;
        top: -26px
    }
    
    .name {
        float: right;
        height: 120px;
        padding-left: 32px;
        color:white;
        font-family: "Montserrat", sans-serif;

    }
    
    .hidden {
        border-bottom: 1px solid white;
        padding: 0;
        display: none
    }
    
    .hidden.show-this {
        display: block
    }
    
    .hidden .space,
    .space {
        position: relative;
        display: block;
        height: 30px
    }
    
  
    .close {
       /* background: url("bk.png") repeat;
        *background: url("bk.png") repeat;
        _background: url("bk.png") repeat;*/
        background-size: 18px 18px;
        width: 48px;
        height: 48px;
        position: absolute;
        right: 0;
        top: 0;
        border: 1px solid #c7c7c7
    }
    
    
    footer {
        height: 120px;
        padding: 20px 0 0 0;
        position: relative;
        font-size: 12px;
        color: white;
        line-height: 12px;
        background: url('bk.png') repeat;
    }
    
    footer .alignright {
        text-align: right;
        margin-right: 10px
    }
    
    footer .alignleft {
        margin-left: 10px
    }
    
    footer .alignright p,
    footer .alignleft p {
        font-size: 12px
    }
    
    .fixed .name {
        width: 100%
    }

    
    @media only screen and (min-width:768px) and (max-width:1500px) {
        .container {
            margin-top: 0;
            margin-right: auto;
            margin-left:auto;
            padding-left: 50px;
            padding-right:auto;
        }

        .icon2{
            display: none;
        }

        .name{
            font-size: 45px;
        }
        .pic-frame{
            margin: 0 40px 40px 0;
            float:left;
        }

        .logo{

        padding-top: 40px;
        float:left;
        margin-left: 120px;
    }
    
    }
    
    @media only screen and (max-width:768px) {
        .container {
            margin-right: auto;
            margin-left:auto;

        }

        
        .number {
            display: none
        }
        .toggle,
        .name,
        .fixed {
            background: black
        }
        .name {
            padding-left: 10px;
            width: 300px !important;
            font-size:38px;
        }
        .intro{
            display: none;
        }

        .pic-frame{
            margin-bottom:40px;
            margin-right: auto;
            margin-left:auto;
        }
        
        .logo{
            width:150px;
            margin-right: auto;
            margin-left:auto;
            padding-top: 40px;

        }

         .icon2{
            width:160px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    
    .hidden {
       background: url('bk.png');
    }
    
    .name {
        background: black;
    }
    
    

/********************* showcase ********************/

.pic-frame.rounded > p {
    line-height: 15px;
}



.pic
{
    position: relative;
    width: 260px;
    height: 260px;
    margin-bottom: 15px;
    background-color: black;
}
.pic a
{
    display: block;
    width: 260px;
    height: 260px;  
}
.pic-frame 
{
    position: relative;
    cursor: pointer;
    width: 260px;
    height: 320px;
    /*margin: 0 40px 40px 0;*/
    font-size: 14px;
    background-color: #ffffff;
    color: #a8a8a8;
    border: 20px solid white;
    -moz-border-radius: 10px;  /*Firefox */
    -webkit-border-radius: 10px;  /*Safari, Chrome */
    border-radius: 10px;  CSS3 
}

.container{
    margin-right: auto;
    margin-left: auto;
}

/******************** hamburger menu bar ***************************/


.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 20px;
  left: 10px;
  right: 10px;
  height: 4px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htx {
  background-color: black;
  opacity: 0.8;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: black;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); 
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
