body {
    height: 100%;
    width:100%;
}

#profile_pic{
    width: 100px;
    height: 100px;
    margin-top: 40px;
    position: absolute;
    left:50%;
    margin-left: -50px;
}

.intro_text{
    font-size: 15px;
    line-height: 25px;
}

.intro_text a{
    background-color: #F77962;
    color:white;
    padding-left: 3px;
    padding-right: 3px;
}

.intro_text a:hover{
    background-color: #F85A3E;
    color:white;
    text-decoration: none;
}

.header{
    margin-top: 150px;
}
.page-header{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 700;
    border-bottom: none;
}

.intro_text{
    font-family: 'Abel', sans-serif;
}

.fa-2x{
    font-size: 1.6em !important;
}



ul a:hover {
    text-decoration: none;
}

i {
    color: grey;
}

.icon .fa {
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.text-center {
    text-align: center;
   /* padding-left: 0;*/
    float: none;
}

i:hover {
    color: black;
    opacity: .8;
}
/*####################*/

#portfolio {
    max-width: none;
    margin-top: 50px;
}

.row a {
    color:#000;
}
.row a:hover {
    text-decoration: none;
    color: #79CDCD;
}
.span4 {
    width: 28%;
    margin: 0 40px 40px 0;
}
.span4:last-child {
    margin-right: 0;
}

.span4 img {
    width: 100%;
}
.span4 .wrapper {
    border: 1px solid #ececec;
    margin: 0 0 10px 0;
}

.span4 h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin: 0 0 10px 0;
  padding: 0 5px 0 0; 
  font-size: 17px;
  line-height: 20px;
  color: #646464;
}

.span4 p {
    font-size: 16px;
    font-weight: 200;
    font-family: 'Abel', sans-serif;
}

.type {
    font-weight: 100;
    background-color: #399AD3;
    color: #fff; 
    padding: 0 5px 0 5px; 
    margin: 0 5px 0 0; 
    letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
    .row {
    margin: 0 auto;
    display: block;
    max-width: 1150px;
    padding-left: 100px;
}


}

@media screen and (max-width: 767px) {
    .span4 {
    width: 100%;
    padding-right: 0px;
    }
    .row {
    margin: 0 auto;
    display: block;
    padding-left: 10%;
    padding-right: 10%;
}

}